.full-width {
  width: 100%;
}

.mat-card{
  width: 80%;
  display: block;
  margin-left:auto;
  margin-right:auto;

  justify-content: center;
  align-items: center;
}

.login_wrapper{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_input{
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  border-radius: 5px;
}

.content-table{
  max-height: 800px;
  overflow: auto;
}

.mat-checkbox{
  margin: 10px;
}
